body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{

    font-size: 50px; 
}
h2{
    font-size: 40px;
}
p{
    color: rgb(78, 78, 78);
}
.orange-highlight{
    color: orange;
}
.name-highlight-2{
    color: rgb(19, 4, 230);
}
.half-width{
    width: 40%;
    margin: 4%;
    padding-left: 2%;
    float: left;
}
.half-width-bg{
    width: 40%;
    margin: 4%;
    padding-left: 2%;
    float:right;
   
}

.half-width img{
   
    width: 100%;

}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
   height: 500px; 
  
}

.link-button{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image:linear-gradient(45deg,rgb(46, 187, 46), green) ;
    padding: 10px 20px;
    border-radius:10px ;
}
.dream-area{
    padding-bottom: 348px;
    margin-top: 130px;
   
    background-image: url("images/dream-bg.png");  
    background-position: right;
    background-repeat: no-repeat;
    
}
.experience-area{
    background-image: url(" images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 170px;


}
.shadow{
    box-shadow: 10px 10px 40px rgb(87, 87, 87);
    border-radius: 5px;
    height: 80%;
}

#full-stack{
    box-sizing: border-box;
    border-left: 7px solid rgb(248, 104, 8)  ;
 

}
#bby{
    
    border-left: 7px solid  rgb(247, 102, 6) ;
    


}
footer{
    text-align: center;
    font-size: 15px;
}